.logo
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

h1.title
  font-size 5em
  text-align center
  margin-top 0.25em
  color #0b4e90
  font-weight: 900;
  font-style: italic;
