template(name='home')
  +logo

  article.left
    ul
      li Collaboratively edit 3D models in real-time
      li Create discrete components and add them to model assemblies
      li Version &amp; share models, and track differences between versions
      li Open-source model repositories are free
      li Private repositories are also available

  article.right
    ul
      li EDIFICE uses #[i voxel octrees] to organize spatial data
      li The details of a model can be as detailed as necessary
      li Models can also be defined within a larger scale
      li Voxel contents can be defined with many real-world substances
      li Common substances, in addition to custom substances, are available
