h1.title
  font-size 5em
  text-align center
  margin-top 0.25em
  color #0b4e90
  font-weight: 900;
  font-style: italic;

p
  display block
  font-size 3em
  color black
  font-weight 700
  padding 1em

+above(900px)
  .logo, .left, .right
    position absolute
    top 50%

  .logo
    left 50%
    transform translate(-50%, -50%)

  .left, .right
    width calc(40% - 100px)
    transform translateY(-50%)

  .left
    left 10px
    text-align right

  .right
    right 10px
    text-align left

+below(900px)
  .logo, .left, .right
    position relative
    margin 0 auto

  .logo
    width 200px
    padding-top 8em
    padding-bottom 2em

  .left, .right
    width 80%
    text-align justify
