template(name='home')
  +logo

  p.left
    | Collaboratively edit 3D models in real time. Create discrete components and add them to model assemblies. Version and share models, and track differences between versions. Open source model repositories are free. Private repositories are also available.

  p.right
    | EDIFICE uses #[i voxel octrees] to organize spatial data. This allows details of a model to be however detailed as necessary. It also allows definition of models within a larger scale. And because voxels represent a discrete unit of volume, their contents can be defined with multiple real-world substances, such as water or air, or a mixture.
