template(name='header')
  +dogear

  nav
    a(href="{{pathFor 'home'}}") Home
    a(href="{{pathFor 'editor'}}") Editor
    a(href="{{pathFor 'library'}}") Library
    a(href="{{pathFor 'profile'}}") Profile
    if signedIn
      a(href="/sign-out") Sign Out
    else
      {{> loginButtons}}