template(name='header')
  nav
    a(href="{{pathFor 'home'}}") Home
    a(href="{{pathFor 'editor'}}") Editor
    a(href="{{pathFor 'library'}}") Library
    a(href="{{pathFor 'profile'}}") Profile
    if signedIn
      a(href="/sign-out") Sign Out
  unless nologo
    img(src='/images/edifice.svg').logo
