template(name='editor')
  x3d
    scene
      viewpoint(position='8.19 12.33 19.5' orientation='-0.834 0.55 0 0.65')
      navigationinfo(type='turntable' headlight='false')

      pointLight(location='0 40 0' intensity='0.3')
      pointLight(location='-30 10 -20' intensity='0.7')
      directionalLight(direction='-1 -1 -0.7' color='#ffe' intensity='0.8' shadowIntensity='0.4')

      transform(rotation='-1.5707963267948966 0 0 1.5707963267948966' translation='-0.5 -0.5 -0.5')
        shape
          appearance
            material(diffuseColor='#ddd')
          plane(size='100 100')

      each voxels
        transform(translation=_id scale='0.5 0.5 0.5')
          shape(id=_id)
            appearance
              material(diffuseColor=color ambientIntensity='0.1' shininess='0')
            box
