template(name='editor')
  xml3d
    +cube

    if show_colors
      each colors
        group(style=pos)
          model(src='#cube')
    //- else
    //-   each voxels
    //-     transform(translation=_id scale='0.5 0.5 0.5')
    //-       shape(id=_id)
    //-         appearance
    //-           material(diffuseColor=color ambientIntensity='1.0' shininess='1.0')
    //-         box

  script(src='http://www.xml3d.org/xml3d/script/xml3d.js')
  script(src='http://www.xml3d.org/xml3d/script/tools/camera.js')
