template(name='editor')
  h1 xml3d / Meteor integration example

  xml3d(activeView='#myView' class="xml3d" width="600px" height="600px")

    shader(id='diffuse' script='urn:xml3d:shader:diffuse')
      float3(name='diffuseColor') 1 1 1
      bool(name='useVertexColor') false

    lightshader(id='light1' script='urn:xml3d:lightshader:directional')
      float3(name='intensity') 1 1 1

    group(style='transform: translate3d(50px 0 0)')
      light(shader='#light1')

    +assets

    view(id='myView' position='0 0 50')

    group(shader='#diffuse' style='transform: rotate3d(1, 0, 0, -45deg) rotate3d(0, 0, 1, 45deg)')
      +cube(pos=cube_pos)
