font-face('Flaticon', '/icons')

.color-swatch:before,
.single-block:before,
.draw-blocks:before,
.eraser:before
  font-family Flaticon
  font-style normal
  font-size 20px
  color white

.color-swatch:before
  content '\e015'

.single-block:before
  content '\e009'

.draw-blocks:before
  content '\e016'

.eraser:before
  content '\e00f'
